<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">查看行程</div>
    <a class="w-inline-block navbar-button" href="<%= url_for(owned_web_travels_path) %>" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-left"></div>
    </a>
  </div>
</div>
<div class="body">
  <div class="hero-image">
    <div class="hero-image-title">
      <h2>代购清单</h2>
      <div class="sub-title-small"><%= @handled_deals_count %> / <%= @total_deals_count %> 个任务 &nbsp;|&nbsp;&nbsp;已完成 <%= @completion %>%</div>
    </div>
    <div class="hero-image-img"><%= image_tag('web/travel_bg.jpg') %></div>
  </div>
  <% if @travel.deals.count.zero? %>
  <div class="empty-deal">
    <a href="javascript:;" onclick="share()" class="w-button action-button">分享给好友</a>
    <p>请点击右上角 <span class="icon ion-ios-more"></span> 按钮</p>
    <p>将此行程分享到朋友圈或微信好友</p>
  </div>
  <% else %>
  <ul class="list">
    <% @deals.each do |deal| %>
    <li class="list-item<%= " grey #{deal.state}" if !deal.in_process? %>">
      <a class="w-clearfix w-inline-block<%= " #{deal.state}" if !deal.in_process? %>" href="<%= url_for([:web, deal]) %>">
        <div class="icon-list<%= " #{deal.state}" if !deal.in_process? %>">
          <div class="icon <%= deal.failure? ? 'ion-ios-close-empty' : 'ion-ios-checkmark-empty' %>"></div>
        </div>
        <div class="title-list"><%= deal.content %></div>
        <%= image_tag(deal.user.portrait.w100_h100_fl_q60.url, class: 'portrait') %>
      </a>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
  <script>
    <%= wechat_config_tag %>
    function onBridgeReady() {
      function share() {
        WeixinJSBridge.invoke('sendAppMessage',{
          title: '我要粗去玩啦~有什么要带的吗',
          desc: '我在用#小信鸽#统计购物清单，快快点我来发布你的清单吧！',
          link: '<%= request.original_url %>',
          imgUrl: '<%= image_url(@travel.user.portrait.w180_h180_fl_q60.url) %>',
          type: 'link'
        });
      }
    }
    if (typeof WeixinJSBridge === "undefined") {
      if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      }
    } else {
      onBridgeReady();
    }
    wx.ready(function(){
      wx.onMenuShareAppMessage({
        title: '我要粗去玩啦~有什么要带的吗',
        desc: '我在用#小信鸽#统计购物清单，快快点我来发布你的清单吧！',
        link: '<%= request.original_url %>',
        imgUrl: '<%= image_url(@travel.user.portrait.w180_h180_fl_q60.url) %>',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
      });

      wx.onMenuShareTimeline({
        title: '我要粗去玩啦~有什么要带的吗',
        link: '<%= request.original_url %>',
        imgUrl: '<%= image_url(@travel.user.portrait.w180_h180_fl_q60.url) %>',
        success: function () { 
        },
        cancel: function () { 
        }
      });
    });
  </script>
<% end %>