<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">需求详情</div>
    <a class="w-inline-block navbar-button" href="<%= url_for([:web, @deal.travel]) %>" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-left"></div>
    </a>
  </div>
</div>
<div class="body padding">
  <div class="w-form">
    <%= render "web/commons/error_messages", target: @deal %>
    <%= form_tag nil do %>
      <div class="separator-fields"></div>
      <div class="separator-fields"></div>
      <div class="row-input-list">
        <label class="label-form" for="deal_content"><%= web_ar_t('deal.content') %></label>
        <div class="value-form"><%= @deal.content %></div>
        <div class="separator-fields"></div>
      </div>
      <% unless @deal.photographs.blank? %>
      <div class="row-input-list">
        <label class="label-form" for="deal_expected_quantity"><%= web_ar_t('deal.photographs') %></label>
        <div class="value-form">
          <div class="image-preview">
            <% @deal.photographs.each do |photograph| %>
            <div class="nailthumb-container image-thumbnail" data-origin-url="<%= photograph.file.url %>"><%= image_tag(photograph.file.w100_h100_fl_q60.url) %></div>
            <% end %>
          </div>
        </div>
        <div class="separator-fields"></div>
      </div>
      <% end %>
      <div class="row-input-list">
        <label class="label-form" for="deal_expected_quantity"><%= web_ar_t('deal.expected_quantity') %></label>
        <div class="value-form"><%= @deal.expected_quantity %>件</div>
        <div class="separator-fields"></div>
      </div>
      <div class="row-input-list">
        <label class="label-form" for="deal_acceptable_price_value"><%= web_ar_t('deal.acceptable_price_value') %></label>
        <div class="value-form"><%= hr_deal_acceptable_price(@deal.acceptable_price) %></div>
      </div>
      <div class="separator-button-input"></div>
      <% if @deal.in_process? %>
      <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-l">
          <%= link_to '修改需求', edit_web_deal_path(@deal), class: 'w-button edit-button' %>
        </div>
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-r">
          <%= link_to '删除', [:web, @deal], method: :delete, data: { confirm: '确定要删除吗？' }, class: 'w-button action-button' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
  <script>
    jQuery(document).ready(function(){
      <% unless @deal.photographs.blank? %>
      <%= wechat_config_tag(permissions: [:previewImage]) %>
      wx.ready(function() {
        $('.image-thumbnail').on('click', function() {
          wx.previewImage({
            current: $(this).data('origin-url'),
            urls: ['<%= raw(@deal.photographs.map{|photograph| photograph.file.url}.join("', '")) %>']
          });
        });
      });
      <% end %>
      $('.nailthumb-container:last').nailthumb();
    });
  </script>
<% end %>