<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">修改需求</div>
    <a class="w-inline-block navbar-button" href="<%= url_for([:web, @deal]) %>" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-left"></div>
    </a>
  </div>
</div>
<div class="body padding">
  <div class="w-form">
    <%= render "web/commons/error_messages", target: @deal %>
    <%= form_for [:web, @deal] do |f| %>
      <div class="separator-fields"></div>
      <div class="separator-fields"></div>
      <div class="row-input-list">
        <label class="label-form" for="deal_content"><%= web_ar_t('deal.content') %></label>
        <textarea id="deal_content" name="deal[content]" class="w-input input-form textarea"><%= @deal.content %></textarea>
        <div class="separator-fields"></div>
      </div>
      <% unless @deal.photographs.blank? %>
      <div class="row-input-list">
        <label class="label-form" for="deal_content"><%= web_ar_t('deal.photographs') %></label>
        <div class="value-form">
          <p>#暂无修改图片功能</p>
          <p>#给您造成的不便敬请谅解</p>
        </div>
        <div class="separator-fields"></div>
      </div>
      <% end %>
      <div class="row-input-list">
        <label class="label-form" for="deal_quantity"><%= web_ar_t('deal.quantity') %></label>
        <select id="deal_quantity" name="deal[quantity]" class="w-select input-form select">
          <% 1.upto(99).each do |quantity| %>
          <option value="<%= quantity %>"<%= ' selected' if @deal.quantity == quantity %>><%= quantity %>件</option>
          <% end %>
        </select>
        <div class="separator-fields"></div>
      </div>
      <div class="row-input-list">
        <label class="label-form" for="deal_acceptable_price_value"><%= web_ar_t('deal.acceptable_price_value') %></label>
        <div class="w-row">
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-l">
            <input type="text" id="deal_acceptable_price_value" name="deal[acceptable_price_value]" data-name="deal_acceptable_price_value" value="<%= @deal.acceptable_price.try(:in_foreign) || @deal.acceptable_price.try(:in_local) %>" class="w-input input-form">
          </div>
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-r">
            <select id="deal_acceptable_price_currency_id" name="deal[acceptable_price_currency_id]" class="w-select input-form select">
              <option value=""<%= ' selected' if @deal.acceptable_price.blank? %>>元(CNY)</option>
              <% Currency.circulation_in(@deal.travel.destinations).each do |currency| %>
              <option value="<%= currency.id %>"<%= ' selected' if @deal.acceptable_price.try(:currency).try(:id) == currency.id %>><%= currency.name_with_code %></option>
              <% end %>
            </select>
          </div>
          <p class="n-p-l"><span class="icon ion-information-circled"> 您能接受的最高价格，留空则表示对价格无要求</span></p>
        </div>
      </div>
      <div class="separator-button-input"></div>
      <input type="submit" value="填写完成，提交" data-wait="请稍候..." class="w-button action-button"> 
    <% end %>
  </div>
</div>